.header_wrapper {
	margin: 20px;
}
.header_image {
	position:absolute;
	border-radius: 50%;
	max-width: 140px;
	margin-top: -8px;
}

.header_text {
	margin-left: 150px;
}

.header_sub-text {
	font-size: 12px;
	padding:5px 0 10px 0;
	color:grey;
}

.header_message {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid silver;
  padding: 10px 10px 10px 50px;
	border-radius: 10px;
	margin-left: 100px;
	background-color: LightGoldenRodYellow;
}
